In [17]:
%matplotlib notebook
import pickle
import pandas as pd
import numpy as np
from tqdm import tqdm
import matplotlib.pyplot as plt
from tqdm import tqdm
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [82]:
#读取数据
data = pd.read_csv('./file_save/feature_exctracted.csv')

dataA = data.dropna()   #清空行
dataA = dataA.drop(26,axis=0)   #去掉异常车辆26

veh_id = pd.DataFrame(dataA.iloc[:,0])  # 提出车辆编号
veh_id.columns = ['veh_id']
veh_id = veh_id.reset_index(drop = True)
dataA = dataA.drop('num',axis=1)

dataA = dataA.reset_index(drop = True)
dataA

,starttime_mean,starttime_std,endtime_mean,endtime_std,startsoc_mean,startsoc_std,endsoc_mean,endsoc_std,chardur_mean,chardur_std,socdelta_mean,socdelta_std,charrate_mean,charrate_std,overnight_mean,point_num,max_point_rate
0,12.035714,5.527588,14.250000,4.986092,34.785714,16.716275,89.750000,18.758948,29260.71429,19073.570220,54.964286,22.421025,10.267333,8.306143,0.250000,12,0.285714
1,16.741935,5.567571,8.677419,3.893474,28.548387,17.847201,87.064516,22.235011,35258.70968,18480.730820,58.516129,27.192978,10.304049,14.428654,0.741935,14,0.142857
2,17.000000,3.354102,15.859649,7.541406,59.982456,16.035108,98.754386,4.706685,12406.31579,8962.593819,38.771930,15.534544,13.233630,6.463526,0.192982,9,0.578947
3,13.000000,3.679465,14.785714,4.335516,48.071429,11.538993,97.071429,5.165928,12102.85714,13314.498420,49.000000,12.228592,22.624159,10.123308,0.071429,12,0.142857
4,9.270833,2.726853,16.104167,2.536873,49.854167,19.678252,85.875000,20.551570,24548.75000,11254.745310,36.020833,13.485200,9.087773,11.373205,0.020833,16,0.395833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,13.200000,3.985689,15.800000,3.211586,41.800000,21.444946,91.466667,13.157652,8552.00000,6930.226960,49.666667,19.215569,28.789055,13.897631,0.066667,8,0.285714
64,15.428571,5.380742,13.142857,2.410295,29.714286,14.727687,91.571429,18.509972,28148.57143,29175.704180,61.857143,29.208609,18.840999,16.978332,0.428571,5,0.428571
65,16.190476,5.065758,12.857143,5.807630,24.666667,11.676187,94.285714,12.414277,37185.71429,23832.532510,69.619048,13.021045,17.453326,21.775202,0.761905,5,0.200000
66,16.400000,3.781534,17.200000,3.701351,37.600000,24.521419,80.000000,20.796634,4680.00000,2918.801124,42.400000,20.044949,38.395305,20.131320,0.000000,5,0.200000
67,15.733333,4.201731,10.177778,4.012984,48.955556,23.585392,91.911111,14.589570,33840.00000,23248.597610,42.955556,25.320631,9.385128,12.600908,0.644444,15,0.200000

In [83]:
# 所有变量
std = StandardScaler()# 标准化
dataA_sdd = std.fit_transform(dataA)   #标准化
dataA_sdd = pd.DataFrame(dataA_sdd,columns = dataA.columns)   #转为dataframe
kmeans = KMeans(n_clusters=2, random_state=0).fit(dataA_sdd)   #跑kmeans
label = pd.DataFrame(kmeans.labels_)    #取label
label.columns = ['label']
dataA_result = dataA.join(label)
dataA_result = dataA_result.join(veh_id)
dataA_result

,starttime_mean,starttime_std,endtime_mean,endtime_std,startsoc_mean,startsoc_std,endsoc_mean,endsoc_std,chardur_mean,chardur_std,socdelta_mean,socdelta_std,charrate_mean,charrate_std,overnight_mean,point_num,max_point_rate,label,veh_id
0,12.035714,5.527588,14.250000,4.986092,34.785714,16.716275,89.750000,18.758948,29260.71429,19073.570220,54.964286,22.421025,10.267333,8.306143,0.250000,12,0.285714,1,0
1,16.741935,5.567571,8.677419,3.893474,28.548387,17.847201,87.064516,22.235011,35258.70968,18480.730820,58.516129,27.192978,10.304049,14.428654,0.741935,14,0.142857,0,1
2,17.000000,3.354102,15.859649,7.541406,59.982456,16.035108,98.754386,4.706685,12406.31579,8962.593819,38.771930,15.534544,13.233630,6.463526,0.192982,9,0.578947,1,2
3,13.000000,3.679465,14.785714,4.335516,48.071429,11.538993,97.071429,5.165928,12102.85714,13314.498420,49.000000,12.228592,22.624159,10.123308,0.071429,12,0.142857,1,4
4,9.270833,2.726853,16.104167,2.536873,49.854167,19.678252,85.875000,20.551570,24548.75000,11254.745310,36.020833,13.485200,9.087773,11.373205,0.020833,16,0.395833,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,13.200000,3.985689,15.800000,3.211586,41.800000,21.444946,91.466667,13.157652,8552.00000,6930.226960,49.666667,19.215569,28.789055,13.897631,0.066667,8,0.285714,1,82
64,15.428571,5.380742,13.142857,2.410295,29.714286,14.727687,91.571429,18.509972,28148.57143,29175.704180,61.857143,29.208609,18.840999,16.978332,0.428571,5,0.428571,0,83
65,16.190476,5.065758,12.857143,5.807630,24.666667,11.676187,94.285714,12.414277,37185.71429,23832.532510,69.619048,13.021045,17.453326,21.775202,0.761905,5,0.200000,0,84
66,16.400000,3.781534,17.200000,3.701351,37.600000,24.521419,80.000000,20.796634,4680.00000,2918.801124,42.400000,20.044949,38.395305,20.131320,0.000000,5,0.200000,1,85
67,15.733333,4.201731,10.177778,4.012984,48.955556,23.585392,91.911111,14.589570,33840.00000,23248.597610,42.955556,25.320631,9.385128,12.600908,0.644444,15,0.200000,0,86

In [84]:
# 储存
dataA_result.to_csv('./file_save/kmeans_result.csv')

In [85]:
# 精简变量
dataA = dataA.drop('point_num',axis=1)
dataA_sdd = std.fit_transform(dataA)   #标准化
dataA_sdd = pd.DataFrame(dataA_sdd,columns = dataA.columns)   #转为dataframe
kmeans = KMeans(n_clusters=2, random_state=0).fit(dataA_sdd)   #跑kmeans
label = pd.DataFrame(kmeans.labels_)    #取label
label.columns = ['label']
dataA_result = dataA.join(label)
dataA_result = dataA_result.join(veh_id)
dataA_result

,starttime_mean,starttime_std,endtime_mean,endtime_std,startsoc_mean,startsoc_std,endsoc_mean,endsoc_std,chardur_mean,chardur_std,socdelta_mean,socdelta_std,charrate_mean,charrate_std,overnight_mean,max_point_rate,label,veh_id
0,12.035714,5.527588,14.250000,4.986092,34.785714,16.716275,89.750000,18.758948,29260.71429,19073.570220,54.964286,22.421025,10.267333,8.306143,0.250000,0.285714,1,0
1,16.741935,5.567571,8.677419,3.893474,28.548387,17.847201,87.064516,22.235011,35258.70968,18480.730820,58.516129,27.192978,10.304049,14.428654,0.741935,0.142857,0,1
2,17.000000,3.354102,15.859649,7.541406,59.982456,16.035108,98.754386,4.706685,12406.31579,8962.593819,38.771930,15.534544,13.233630,6.463526,0.192982,0.578947,1,2
3,13.000000,3.679465,14.785714,4.335516,48.071429,11.538993,97.071429,5.165928,12102.85714,13314.498420,49.000000,12.228592,22.624159,10.123308,0.071429,0.142857,1,4
4,9.270833,2.726853,16.104167,2.536873,49.854167,19.678252,85.875000,20.551570,24548.75000,11254.745310,36.020833,13.485200,9.087773,11.373205,0.020833,0.395833,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,13.200000,3.985689,15.800000,3.211586,41.800000,21.444946,91.466667,13.157652,8552.00000,6930.226960,49.666667,19.215569,28.789055,13.897631,0.066667,0.285714,1,82
64,15.428571,5.380742,13.142857,2.410295,29.714286,14.727687,91.571429,18.509972,28148.57143,29175.704180,61.857143,29.208609,18.840999,16.978332,0.428571,0.428571,0,83
65,16.190476,5.065758,12.857143,5.807630,24.666667,11.676187,94.285714,12.414277,37185.71429,23832.532510,69.619048,13.021045,17.453326,21.775202,0.761905,0.200000,0,84
66,16.400000,3.781534,17.200000,3.701351,37.600000,24.521419,80.000000,20.796634,4680.00000,2918.801124,42.400000,20.044949,38.395305,20.131320,0.000000,0.200000,1,85
67,15.733333,4.201731,10.177778,4.012984,48.955556,23.585392,91.911111,14.589570,33840.00000,23248.597610,42.955556,25.320631,9.385128,12.600908,0.644444,0.200000,0,86

In [93]:
# 储存
dataA_result.to_csv('./file_save/kmeans_result_less.csv')

In [94]:
# 提取私桩车辆号
private_veh = []
for i in range(len(dataA_result)):
    if dataA_result.iloc[i][16]==0:
        private_veh.append(int(dataA_result.iloc[i][17]))
private_veh